<html>
    <head>
        <title>Controller</title>
        <h1>LED Controls</h1>
    </head>

    <body>
        <div id="led_status">LEDS ARE CURRENTLY OFF</div>
        <button id="toggle_on">LEDS ON</button>
        <button id="toggle_off">LEDS OFF</button>

        <script src="/view_script.js"></script>
    </body>
</html>